Button {
    margin: 1 2;
}

#messages {
    height: 1fr;     /* take all remaining vertical space */
    padding: 1;
    max-width: 120; /* Not too wide */
}

#buttons {
    padding: 0 1;
    height: auto;    /* only as tall as needed */
}
